/*Jason McGee, Jan 4, 2022.
    Witcher 3 themed startpage customized for CSCC.
    Built for Firefox using Witcher 3 theme.*/

body {
	background-image: url(../images/Witcher\ 3\ Wild\ Hunt\,\ The\ -\ \ wallpaper\ 1.jpg);
}

#content1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.cscc{
    width: 100px;
    float: left;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 80px;
}

.blackboard{
    width: 100px;
    float: right;
    padding: 100px;
    padding-left: 250px;
}

#content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.oreilly {
    float: right;
    padding: 125px;
}

.email{
    width: 100px;
    float: left;
    margin: 200px;
}

.connect {
    float: right;
    padding: 40px;
    margin-top: 150px;
    margin-left: 500px;
}


